* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #d38312;
  background: -webkit-linear-gradient(to right, #a83279, #d38312);
  background: linear-gradient(to right, #a83279, #d38312);
}

.containerCenter {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerMain {
  display: flex;
  flex-direction: column;
}

.containerMainCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 100%;
}

.linkImg {
  height: 25px;
  width: 25px;
  padding-left: 10px;
  transition: transform 0.2s;
}

.linkImg:hover {
  transform: scale(1.2);
}

.bgBlock {
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.4);
  position: relative;
  border-radius: 5px;
}

.emojiOne {
  width: 75px;
  top: 135px;
  left: 135px;
  position: relative;
}

.glassBlock {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.settings {
  width: 80%;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.label {
  margin: 1rem 0;
  font-weight: 800;
}
